.onboarding {
  width: 100%;
  height: 100%;
}

.onboarding__img {
  background-image: url("../../img/Onboarding-img.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 9.3rem;
  margin-bottom: 4.5rem;
  max-width: 100%;
  animation-name: infiniteupdown;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.onboarding__h2 {
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  margin: 0 8.7rem 1.3rem;
}

.onboarding__p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: center;
  margin: 0 3.2rem;
  margin-bottom: 86px;
}
.onboarding__link {
  text-decoration: none;
}

.onboarding__button {
  width: 167px;
  height: 37px;
  margin: 0 auto;
}

@keyframes infiniteupdown {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}
