.cart__grid__section{
    position: relative;
    height: 100%;
    width: 100%;
}
.cart__grid__section h2{
    text-align: center;
    font-size: 2.4rem;
    padding: 10px;
}

.cart__grid {
    height: 75%;
    margin: 10px 30px;
    gap: 10px;
    position: relative;
	overflow: scroll;
}
.cart__grid::-webkit-scrollbar{
    width: 0;
}

.cart__sum {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.cart__item {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    font-size: 2rem;
    border-bottom: solid 1px #000000;  ;
    padding: 10px;
}

.cart__button{
    position: absolute;
    bottom: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.cart__button_delete {
    margin: 0 10px;
    padding: 5px 20px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;
    color: #fff;
    background: linear-gradient(180deg, #f7574b 0%, #f63636 100%);
    background-origin: border-box;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    cursor: pointer;
}

.cart__button button:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.cart__button_buy {
    padding: 5px 20px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;
    color: #fff;
    background: linear-gradient(to right top, #364fd4, #2462e1, #0c75ec, #0086f6, #0097fe);
    background-origin: border-box;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    cursor: pointer;
}
