.cart__grid__section{
    position: relative;
    height: 100%;
    width: 100%;
}
.cart__grid__section h2{
    text-align: center;
    font-size: 2.4rem;
    padding: 10px;
}

.cart__grid {
    height: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(15, 1fr);
    justify-items: end;
    align-items: center;
    margin: 10px 30px;
    gap: 10px;
    position: relative;
	overflow: scroll;
}
.cart__grid::-webkit-scrollbar{
    width: 0;
}

.cart__item {
    font-size: 2rem;
}

.cart__button{
    position: absolute;
    bottom: 100px;
    right: 160px;
    
}

.cart__button button {
    padding: 5px 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;
    color: #fff;
    background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
    background-origin: border-box;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.cart__button button:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

