.cart__grid {
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 20px;
}

.cart__item {
    font-size: 2rem;
}

.cart__button{
    position: absolute;
    bottom: 100px;
    right: 160px;
}

.cart__button button {
    padding: 5px 20px;
    border-radius: 5px;
}