.filter {
	width: 100%;
	height: 100%;
}

.filter-grid-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	row-gap: 10px;
}

.filter-grid-item {
	border: none;
	background-color: white;
	color: #5c6574;
	font-family: Poppins;
	font-size: 1.2rem;
	font-weight: 500;
	line-height: 18px;
	letter-spacing: 0px;
	border: 1px solid red;
}

.filter-header-style {
	font-family: Poppins;
	font-size: 1.6rem;
	letter-spacing: 0.1px;
	font-weight: 600;
	line-height: 24px;
	margin: 0 0 0 16px;
}

.filter-header-style:nth-of-type(1) {
	margin-bottom: 34px;
}
.filter-header-style:nth-of-type(2) {
	margin: 56px 0 34px;
}
.filter-header-style:nth-of-type(3) {
	margin: 45px 0 34px;
}

.filter-custom-button {
	height: 56px;
	width: 327px;
	border-radius: 12px;
	margin: 0 24px 0 24px;
}

/* .filter-custom-button:hover {
  height: 56px;
  width: 327px;
  border-radius: 12px;
  margin: 0 24px 0 24px;
} */
