.filter {
	width: 100%;
	height: 100%;
}

.filter-grid-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2px;
	row-gap: 2px;
	margin: 0 33px 0 33px;
}

.filter-grid-item {
	border: none;

	font-family: Poppins;
	font-size: 1.2rem;
	font-weight: 500;
	line-height: 18px;
	letter-spacing: 0px;
}

.filter-grid-item:hover {
	border: none;
	color: white;
	font-family: Poppins;
	font-size: 1.2rem;
	font-weight: 500;
	line-height: 18px;
	letter-spacing: 0.1px;
	background-color: #364fd4;
	border-radius: 12px;
}

.filter-header-style {
	font-family: Poppins;
	font-size: 1.6rem;
	letter-spacing: 0.1px;
	font-weight: 600;
	line-height: 24px;
	margin: 0 0 0 16px;
}

.filter-header-margin-categories {
	margin: 5px 0 20px 16px;
}
.filter-header-margin {
	margin: 20px 0 20px 16px;
}

.filter-custom-button {
	height: 56px;
	width: 327px;
	border-radius: 12px;
	margin: 20px 24px 0 24px;
}

.filter-custom-button:hover {
	height: 56px;
	width: 327px;
	border-radius: 12px;
	background-color: hsl(231, 65%, 35%);
	box-shadow: 3px 3px 3px hsl(0, 0%, 60%);
}
