.footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 375px;
    height: 82px;
    border-top: 1px solid rgba(128, 128, 128, 0.188) ;
    border-radius: 32px;

}

.footer__home-icon {
    margin-left: 61px;
}

.footer__search-icon {
    margin-right: 61px;
}